.container {
  margin: 80px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .profile {
    margin-top: 30px;
    margin-bottom: 70px;
    box-sizing: border-box;
    width: 450px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.5);

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 33px;
      text-align: center;
      color: #000000;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .profile-icon{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    #bio{
      box-sizing: border-box;
      width: 300px;
      margin-top: 15px;
      height: 35px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding-left: 10px;
    }
    #email{
      box-sizing: border-box;
      width: 300px;
      margin-top: 15px;
      height: 35px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding-left: 10px;
    }
    button{
      width: 150px;
      height: 40px;
      margin: 20px auto;
      background: #3373AF;
      border-radius: 6px;
      font-weight: 400;
      font-size: 15px;
      color: #FFFFFF;
    }
    a{
      font-weight: 400;
      font-size: 15px;
      color: #3373AF;
    }
  }
}
