.container {
  background-color: darkgray;

  .event-list{
    width: 170vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

    .event {
      height: 360px;
      width: 200px;
      background-color: #ffffff;
      margin: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px;
      .text{
        padding: 5px;
        .title{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .location{
          color: coral;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      img {
        width: 200px;
      }
    }
  }
}
